@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;500;600;700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gold-50: oklch(98.5% 0.02 100);
  --color-gold-100: oklch(96.7% 0.035 100);
  --color-gold-200: oklch(92.5% 0.07 100);
  --color-gold-300: oklch(87.1% 0.107 100);
  --color-gold-400: oklch(80.5% 0.14 100);
  --color-gold-500: oklch(73.2% 0.175 100);
  --color-gold-600: oklch(65.5% 0.18 100);
  --color-gold-700: oklch(54.1% 0.17 100);
  --color-gold-800: oklch(42.5% 0.13 100);
  --color-gold-900: oklch(27.2% 0.09 100);
  --color-gold-950: oklch(16% 0.06 100);
  --color-gold-950: oklch(0.01 0.005 123.39);

  --font-montserrat: "Montserrat Alternates", sans-serif;
}

@layer base {
  a {
    @apply cursor-pointer p-3 text-blue-500 underline hover:text-blue-400;
  }

  html {
    @apply bg-gray-900 text-white;
    @apply font-montserrat;
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }

  input {
    @apply rounded-md border border-gray-600 bg-transparent px-4 py-3 text-white transition-colors outline-none;
    @apply placeholder:text-sm placeholder:italic;
    @apply disabled:cursor-not-allowed disabled:bg-gray-300/10 disabled:text-gray-500;
    @apply invalid:border-red-500 invalid:text-red-500 focus:border-sky-500 focus:invalid:border-red-500;
  }
}

@layer components {
  .page {
    @apply flex flex-col gap-3 p-4;
  }

  .p-table-row {
    @apply flex flex-col items-center justify-center md:table-row;
    @apply odd:bg-white even:bg-gray-50 dark:odd:bg-gray-900/50 dark:even:bg-gray-950;
    @apply w-full;
  }
}
